<<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/header %>
    </head>
    <body>
        <ul>
            <li><a href="/sach">QUẢN LÝ SÁCH</a></li>
            <li><a href="/chude">QUẢN LÝ CHỦ ĐẾ SÁCH</a></li>
            <li><a href="/nhaxuatban">QUẢN LÝ NHÀ XUẤT BẢN</a></li>
        </ul>
    </body>
    <footer>
            <% include ../../partials/footer %>
    </footer>
</html>