
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
<link rel="stylesheet" type="text/css" href="reset.css">
<link rel="stylesheet" type="text/css" href="structure.css">
</head>

<body>
<form class="box login" action="/dangnhap" enctype="application/x-www-form-urlencoded" method="POST">
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input type="text" tabindex="1" placeholder="Điền tên đăng nhập" name="taikhoan" required>
	  <label><a href="#" class="rLink" tabindex="5">Chưa có tài khoản?</a>Password</label>
	  <input type="password" tabindex="2" name="matkhau" required>
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">Keep me logged in</label>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
</body>
</html>
