<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/header %>
    </head>
    <body>
        <h1>QUẢN LÝ NHÀ XUẤT BẢN</h1>
        <div class="a">
            <h3><a href="/themnhaxuatban">Thêm mới</a></h3>
            <table>
            <tr>
                <td>MÃ NHÀ XUẤT BẢN</td>
                <td>TÊN NHÀ XUẤT BẢN</td>
                <td></td>
            </tr>
            <% nhaxuatban.forEach(nxb => { %>
            <tr>
                <td> <%= nxb.manhaxuatban %></td>
                <td> <%= nxb.tennhaxuatban %></td>
                <td>
                    <a href="/xoanhaxuatban/<%= nxb.manhaxuatban %>" onclick="return confirm('Are you sure?')">Remove</a> |
                    <a href="/suanhaxuatban/<%= nxb.manhaxuatban %>">Update</a>
                </td>
            </tr>
            <% }) %>
            </table>
        </div>
    </body>
    <footer>
            <% include ../../partials/footer %>
    </footer>
</html>
<style>
    h1 {
        text-align: center;
        margin-left: 110px;
    }
    
    h3 {
        margin-left: 15px;
    }
    .a {
        margin: auto;
        width: 32%;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        margin-left: 15px;
        font-size: 12px;
    }

    table, td, th {
        border: 1px solid black;
        width: 390px;
        height: 35px;
    }
</style>