
<html>
<head>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
<link rel="stylesheet" type="text/css" href="reset.css">
<link rel="stylesheet" type="text/css" href="structure.css">
</head>

<body>
<form action="/dangky" method="POST" class="box register" enctype="application/x-www-form-urlencoded" >
	<fieldset class="boxBody">
	    <label>Họ tên</label>
        <input type="text" tabindex="1" name="hoten" placeholder="Vui lòng điền đầy đủ họ tên" required>
        <label>Tài khoản</label>
        <input type="text" tabindex="2" name="taikhoan" placeholder="Vui lòng điền tài khoản" required>
        <label>Mật khẩu</label>
	    <input type="password" tabindex="3" name="matkhau" placeholder="Vui lòng điền mật khẩu" required>
        <label>Email</label>
        <input type="text" tabindex="4" name="email" placeholder="Vui lòng điền email" required>
	</fieldset>
	<footer>
	  <input type="submit" class="btnLogin" value="Đăng ký" tabindex="4">
	</footer>
</form>
</body>
</html>
