<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/header %>
    </head>
    <body>
        <h1>THÊM NHÀ XUẤT BẢN</h1>
        <div class="a">
            <form action="/themnhaxuatban" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="txtTen" placeholder="nhập tên nhà xuất bản">
            <br><br>
            <input type="submit" value="Thêm">
            </form>
        </div>
    </body>
    <footer>
            <% include ../../partials/footer %>
    </footer>
</html>
<style>
    h1 {
        text-align: center;
    }
    .a {
        margin: auto;
        width: 32%;
        padding: 10px;
    }
</style>